<h1>Puppy Creator</h1>

<form class="" action="/new" method="post">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Breed: <input type="text" name="breed" value=""></p>
  <p>Age: <input type="text" name="age" value=""></p>
  <input type="submit" name="submit" id="submit">
</form>
