<form class="" action="/new" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="breed" value="">
  <input type="text" name="age" value="">
  <input type="submit" name="submit" id="submit">
</form>
